/* основной цвет текста #212121; */
/* вторичный цвет текста #757575; */
/* белый #FFFFFF; */

/* акцент #2196F3; */

/* цвет почты и телефона в футере rgba(255, 255, 255, 0.6); */

/* основной цвет фона #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* фон хедера #FFFFFF */
/* фон футера #2F303A */

.page {
    color: #757575;
    background-color: #FFFFFF;
}

.list {
    list-style: none;
}

.page-header-logo-web{
    color: #2196F3;
}