/* основной цвет текста #212121; */
/* вторичный цвет текста #757575; */
/* белый #FFFFFF; */

/* акцент #2196F3; */

/* цвет почты и телефона в футере rgba(255, 255, 255, 0.6); */

/* основной цвет фона #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* фон хедера #FFFFFF */
/* фон футера #2F303A */


.page {
    color: #757575;
    background-color: #FFFFFF;
}

.list {
    list-style: none;
}

/*Header*/

.logo {
    color: #212121;
}

.logo:focus {
    color: #2196F3;
}

.logo-web {
    color: #2196F3;
}

.site-nav .link {
    color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}

.contacts-nav .link {
    color: #212121;
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
    color: #2196F3;
}

/*Hero*/
/*
.hero {
    background-color: #2F303A;
}

.hero-title {
    color: #FFFFFF;
}
*/

/*Main*/

.section-title {
    color: #212121;
}

.feature-list .title {
    color: #212121;
}

.team-list .title {
    color: #212121;
}





/* portfolio */

.portfolio-list .title {
    color: #212121;
}